[Unit]
Description=gunicorn daemon for FastAPI app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/fastapi_sqlalchemy
ExecStart=/home/ubuntu/venv/bin/gunicorn -c /home/ubuntu/gunicorn_conf.py application:app

[Install]
WantedBy=multi-user.target
